body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #3b4046, #000000);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }

.player-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    max-width: 400px;
    width: 90%;
  }
  

#music-image {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
 audio {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }